.hamburger {
  display: block;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 20px;
  height: 15px;
  color: var(--text-default-color);
  span {
    position: absolute;
    left: 0;
    transition: all 0.2s, opacity 0.1s;
    background-color: #000;
    width: 100%;
    height: 2px;
  }
}

.closed {
  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  span:nth-child(3) {
    top: 100%;
  }
}

.opened {
  span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
  }
  span:nth-child(3) {
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
}
