$sidebar-width: 15.9375rem;
$column-gap: 1.875rem;
$container-y-padding: 1.25rem;
$left-padding: 1.875rem;

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: $sidebar-width 1fr;
  grid-template-areas:
    "header header"
    "main main";
}

.header {
  grid-area: header;
  grid-column: 2/-1;
  padding: 1.25rem 70px 1.25rem $left-padding;
}

.main {
  grid-area: main;
  grid-column: 2/-1;
  padding-left: $left-padding;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  outline: 2px solid var(--border-color);
  padding: $container-y-padding 0;
  width: $sidebar-width;
  height: 100%;
  min-height: 100%;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: rgba(255, 0, 0, 0.2);
  }
}
