.wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr;
  row-gap: 3.75rem;
  height: 100%;
}

.head {
  display: flex;
  align-items: center;
  padding: 0 1.875rem;
}

.navigation {
  display: grid;
  row-gap: 3.75rem;
}

.preferences {
  align-self: flex-end;
}

.hamburger {
  margin-right: 1.25rem;
}
